<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>NoviGoal</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="67b690">  <td>16/12/05 10:32:22</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Class2.beforeTest(java.lang.String)[pri:0, instance:automationFramework.Class2@d041cf]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1068934215</td>   <td></td> </tr>
<tr bgcolor="67b690">  <td>16/12/05 10:32:24</td>   <td>2187</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Class2.main()[pri:0, instance:automationFramework.Class2@d041cf]">main</td> 
  <td>main@1068934215</td>   <td></td> </tr>
<tr bgcolor="67b690">  <td>16/12/05 10:32:46</td>   <td>23403</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Class2.afterTest()[pri:0, instance:automationFramework.Class2@d041cf]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td>  <td>main@1068934215</td>   <td></td> </tr>
</table>
